[Unit]
Description=OpenEMS
After=network.target

 

[Service]
User=root
Group=root
Type=notify
WorkingDirectory=/usr/lib/openems
LimitCORE=infinity
LimitRTPRIO=2
LimitRTTIME=60000000
CPUSchedulingPolicy=rr
CPUSchedulingPriority=1
ExecStart=/usr/bin/java -Dfelix.cm.dir=/etc/openems.d/ -jar /usr/lib/openems/openems.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
WatchdogSec=60
StartLimitInterval=5min
StartLimitBurst=4
StartLimitAction=reboot-force

 
[Install]
WantedBy=multi-user.target
